In [4]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\student-cpt-037\appdata\local\continuum\anaconda3\lib\site-packages (3.10.1)

In [2]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

print(myclient.list_database_names())

mydb= myclient["DataTraker"]

print(mydb)

['admin', 'config', 'local']
Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'DataTraker')

# Stock Sheet

In [10]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["DataTracker"]

mycol = mydb["STOCK EXCHANGE"]

mydict = [
        {"Product":"Pringles","Price":10.00,"Quantity":16,"Barcode":123},
        {"Product":"Cheese Naks","Price":2.00,"Quantity":14,"Barcode":456},
        {"Product":"Lays","Price":12.00,"Quantity":22,"Barcode":789},
        {"Product":"Doritos","Price":4.00,"Quantity":6,"Barcode":101},
        {"Product":"PopCorn","Price":15.00,"Quantity":18,"Barcode":112},
        {"Product":"Miranda","Price":10.00,"Quantity":4,"Barcode":134},
        {"Product":"Coke","Price":15.00,"Quantity":22,"Barcode":156},
        {"Product":"Fanta","Price":15.00,"Quantity":36,"Barcode":178},
        {"Product":"Sprite","Price":16.00,"Quantity":14,"Barcode":189},
        {"Product":"Pepsi","Price":12.00,"Quantity":15,"Barcode":192},
        {"Product":"Take Two","Price":16.00,"Quantity":80,"Barcode":211},
        {"Product":"LunchBar","Price":14.00,"Quantity":81,"Barcode":223},
        {"Product":"Lindt","Price":34.00,"Quantity":36,"Barcode":244},
        {"Product":"Cadbury","Price":4.00,"Quantity":25,"Barcode":256},
        {"Product":"Tex","Price":12.00,"Quantity":55,"Barcode":278},
        {"Product":"Chicken","Price":24.00,"Quantity":25,"Barcode":259},
        {"Product":"Steak an Kidney","Price":25.00,"Quantity":13,"Barcode":310},
        {"Product":"Pepper Steak","Price":26.00,"Quantity":15,"Barcode":320},
        {"Product":"Gatsby","Price":32.00,"Quantity":36,"Barcode":333},
        {"Product":"Beef","Price":22.00,"Quantity":36,"Barcode":354},
        {"Product":"Strawberry","Price":54.00,"Quantity":65,"Barcode":369},
        {"Product":"Chocolate","Price":62.00,"Quantity":55,"Barcode":378},
        {"Product":"Raisin","Price":32.00,"Quantity":45,"Barcode":412},
        {"Product":"Vanilla","Price":15.00,"Quantity":35,"Barcode":434},
        {"Product":"Peach","Price":17.00,"Quantity":58,"Barcode":457},
        {"Product":"Banana","Price":4.00,"Quantity":400,"Barcode":587},
        {"Product":"Apple","Price":6.00,"Quantity":644,"Barcode":596},
        {"Product":"Orange","Price":12.00,"Quantity":858,"Barcode":651},
        {"Product":"Mango","Price":7.00,"Quantity":545,"Barcode":659},
        {"Product":"Peaches","Price":98.00,"Quantity":320,"Barcode":702}
]
x = mycol.insert_many(mydict)
print(x)

<pymongo.results.InsertManyResult object at 0x000002440CE14648>

# Top Three Select

In [11]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["DataTracker"]

mycol = mydb["Top Three"]

mydict = [
       
        {"Product":"Pepsi","Price":12.00,"Quantity":15,"Barcode":192},
        {"Product":"Take Two","Price":16.00,"Quantity":80,"Barcode":211},
        {"Product":"Peaches","Price":98.00,"Quantity":320,"Barcode":702}
]
x = mycol.insert_many(mydict)
print(x)

<pymongo.results.InsertManyResult object at 0x000002440CE25A88>

# Sort Decending Order

In [15]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["DataTracker"]

mycol = mydb["Top Three"]

mydoc = mycol.find().sort("Product")

mydict = [
       
        {"Product":"Pepsi","Price":12.00,"Quantity":15,"Barcode":192},
        {"Product":"Take Two","Price":16.00,"Quantity":80,"Barcode":211},
        {"Product":"Peaches","Price":98.00,"Quantity":320,"Barcode":702}
]
#x = mycol.insert_many(mydict)
for x in mydoc:
    print(x)

{'_id': ObjectId('5e57b91b1b07b10dd5d4bf3f'), 'Product': 'Peaches', 'Price': 98.0, 'Quantity': 320, 'Barcode': 702}
{'_id': ObjectId('5e57bcc11b07b10dd5d4bf43'), 'Product': 'Peaches', 'Price': 98.0, 'Quantity': 320, 'Barcode': 702}
{'_id': ObjectId('5e57be861b07b10dd5d4bf47'), 'Product': 'Peaches', 'Price': 98.0, 'Quantity': 320, 'Barcode': 702}
{'_id': ObjectId('5e57b91b1b07b10dd5d4bf3d'), 'Product': 'Pepsi', 'Price': 12.0, 'Quantity': 15, 'Barcode': 192}
{'_id': ObjectId('5e57bcc11b07b10dd5d4bf41'), 'Product': 'Pepsi', 'Price': 12.0, 'Quantity': 15, 'Barcode': 192}
{'_id': ObjectId('5e57be861b07b10dd5d4bf45'), 'Product': 'Pepsi', 'Price': 12.0, 'Quantity': 15, 'Barcode': 192}
{'_id': ObjectId('5e57b91b1b07b10dd5d4bf3e'), 'Product': 'Take Two', 'Price': 16.0, 'Quantity': 80, 'Barcode': 211}
{'_id': ObjectId('5e57bcc11b07b10dd5d4bf42'), 'Product': 'Take Two', 'Price': 16.0, 'Quantity': 80, 'Barcode': 211}
{'_id': ObjectId('5e57be861b07b10dd5d4bf46'), 'Product': 'Take Two', 'Price': 16.0, 'Quantity': 80, 'Barcode': 211}

# Delete 1 Input.

In [13]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["DataTracker"]

mycol = mydb["Top Three"]

mydoc = mycol.find().sort("Product")

mydict = [
       
        {"Product":"Pepsi","Price":12.00,"Quantity":15,"Barcode":192},
        {"Product":"Take Two","Price":16.00,"Quantity":80,"Barcode":211},
        {"Product":"Peaches","Price":98.00,"Quantity":320,"Barcode":702}
]
x = mycol.insert_many(mydict)
print(x)

<pymongo.results.InsertManyResult object at 0x000002440CE25708>

# Find 1

In [16]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["DataTracker"]

mycol = mydb["Top Three"]

#mydoc = mycol.find().sort("Product")

x = mycol.find_one()

print(x)

{'_id': ObjectId('5e57b91b1b07b10dd5d4bf3d'), 'Product': 'Pepsi', 'Price': 12.0, 'Quantity': 15, 'Barcode': 192}

# Delete 2 from collection

In [20]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["DataTracker"]

mycol =mydb["Top Three"]
myquery = {"Product":"Pepsi","Price":12.00,"Quantity":15,"Barcode":192}

mycol.delete_one(myquery)

#print the customers collection after the deletion:
#for x in mycol.find():
print(x)

{'_id': ObjectId('5e57b91b1b07b10dd5d4bf3d'), 'Product': 'Pepsi', 'Price': 12.0, 'Quantity': 15, 'Barcode': 192}

In [21]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["DataTracker"]

mycol =mydb["Top Three"]
myquery = {"Product":"Take Two","Price":16.00,"Quantity":80,"Barcode":211}

mycol.delete_one(myquery)

#print the customers collection after the deletion:
#for x in mycol.find():
print(x)

{'_id': ObjectId('5e57b91b1b07b10dd5d4bf3d'), 'Product': 'Pepsi', 'Price': 12.0, 'Quantity': 15, 'Barcode': 192}

# Sort

In [22]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["DataTracker"]

mycol = mydb["Top Three"]

mydoc = mycol.find().sort("Product")

for x in mydoc:
    print(x)

{'_id': ObjectId('5e57b91b1b07b10dd5d4bf3f'), 'Product': 'Peaches', 'Price': 98.0, 'Quantity': 320, 'Barcode': 702}
{'_id': ObjectId('5e57bcc11b07b10dd5d4bf43'), 'Product': 'Peaches', 'Price': 98.0, 'Quantity': 320, 'Barcode': 702}
{'_id': ObjectId('5e57be861b07b10dd5d4bf47'), 'Product': 'Peaches', 'Price': 98.0, 'Quantity': 320, 'Barcode': 702}
{'_id': ObjectId('5e57bcc11b07b10dd5d4bf41'), 'Product': 'Pepsi', 'Price': 12.0, 'Quantity': 15, 'Barcode': 192}
{'_id': ObjectId('5e57be861b07b10dd5d4bf45'), 'Product': 'Pepsi', 'Price': 12.0, 'Quantity': 15, 'Barcode': 192}
{'_id': ObjectId('5e57bcc11b07b10dd5d4bf42'), 'Product': 'Take Two', 'Price': 16.0, 'Quantity': 80, 'Barcode': 211}
{'_id': ObjectId('5e57be861b07b10dd5d4bf46'), 'Product': 'Take Two', 'Price': 16.0, 'Quantity': 80, 'Barcode': 211}