In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    
    host="localhost",
    
    user="root",
    
    password="2361066nd",
    
    database="file3_db"
    
)
mycursor = mydb.cursor()

#mycursor.execute("CREATE TABLE Pies (Type VARCHAR(255), `Sell By Date` Date, Grams Varchar(50), `Cost Price`Varchar(50))")
#sql = "insert into Pies(Type,`Sell by Date`,Grams,`cost price` ) values (%s,%s,%s,%s)"
#val = (" Chicken",4082021,125,11.00)
#val = (" Steak an Kidney",8102021,125,11.00)
#val = (" Pepper Steak",9082021,125,11.00)
#val = (" Gatsby",11082021,125,11.00)
#val = (" Beef",21082021,125,11.00)
#mycursor.execute(sql,val)
mydb.commit()
#print("data is uploaded")

In [18]:
sql = "insert into Pies(Type,`Sell by Date`,Grams,`cost price` ) values (%s,%s,%s,%s)"
#val = (" Chicken","2020-11-11","125","11.00")
val = (" Steak an Kidney","2020-10-13","125","11.00")
#val = (" Pepper Steak",2020-09-12","125","11.00")
#val = (" Gatsby","2020-12-10","125","11.00")
#val = (" Beef","2021-02-04","125","11.00")
mycursor.execute(sql,val)

In [3]:
mycursor = mydb.cursor()

sql = "insert into Pies(Type,`Sell by Date`,Grams,`cost price` ) values (%s,%s,%s,%s)"
val = (" Chicken","2020-11-11","125","11.00")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [20]:
mycursor = mydb.cursor()

sql = "insert into Pies(Type,`Sell by Date`,Grams,`cost price` ) values (%s,%s,%s,%s)"
val = (" Steak an Kidney","2020-10-13","125","11.00")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [22]:
mycursor = mydb.cursor()

sql = "insert into Pies(Type,`Sell by Date`,Grams,`cost price` ) values (%s,%s,%s,%s)"
val = (" Pepper Steak","2020-9-12","125","11.00")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [23]:
mycursor = mydb.cursor()

sql = "insert into Pies(Type,`Sell by Date`,Grams,`cost price` ) values (%s,%s,%s,%s)"
val = (" Gatsby","2020-12-10","125","11.00")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [24]:
mycursor = mydb.cursor()

sql = "insert into Pies(Type,`Sell by Date`,Grams,`cost price` ) values (%s,%s,%s,%s)"
val = (" Beef","2021-02-04","125","11.00")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [2]:
mycursor = mydb.cursor()

sql = "DELETE FROM pies WHERE Type = 'Chicken'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted