In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\student-cpt-037\appdata\local\continuum\anaconda3\lib\site-packages (3.10.1)

In [2]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

print(myclient.list_database_names())

mydb= myclient["mydatabase"]

print(mydb)

['admin', 'config', 'local']
Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase')

In [3]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

mydict ={"name":"John","address":"Highway 37"}
x = mycol.insert_one(mydict)

In [4]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]
insemydict = { "name": "Peter", "address": "Lowstreet 27" }

In [5]:
mylist = [ 
  { "name": "Amy", "address": "Apple st 652"},             

{ "name": "Hannah", "address": "Mountain 21"},

  { "name": "Michael", "address": "Valley 345"},

  { "name": "Sandy", "address": "Ocean blvd 2"},

  { "name": "Betty", "address": "Green Grass 1"},

  { "name": "Richard", "address": "Sky st 331"},

  { "name": "Susan", "address": "One way 98"},

  { "name": "Vicky", "address": "Yellow Garden 2"},

  { "name": "Ben", "address": "Park Lane 38"},

  { "name": "William", "address": "Central st 954"},

  { "name": "Chuck", "address": "Main Road 989"},

  { "name": "Viola", "address": "Sideway 1633"}
        
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:

print(x.inserted_ids)

[ObjectId('5e5383c5a19f0e26b25873b4'), ObjectId('5e5383c5a19f0e26b25873b5'), ObjectId('5e5383c5a19f0e26b25873b6'), ObjectId('5e5383c5a19f0e26b25873b7'), ObjectId('5e5383c5a19f0e26b25873b8'), ObjectId('5e5383c5a19f0e26b25873b9'), ObjectId('5e5383c5a19f0e26b25873ba'), ObjectId('5e5383c5a19f0e26b25873bb'), ObjectId('5e5383c5a19f0e26b25873bc'), ObjectId('5e5383c5a19f0e26b25873bd'), ObjectId('5e5383c5a19f0e26b25873be'), ObjectId('5e5383c5a19f0e26b25873bf')]

In [6]:
mylist = [

  { "_id": 1, "name": "John", "address": "Highway 37"},

  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},

  { "_id": 3, "name": "Amy", "address": "Apple st 652"},

  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},

  { "_id": 5, "name": "Michael", "address": "Valley 345"},

  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},

  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},

  { "_id": 8, "name": "Richard", "address": "Sky st 331"},

  { "_id": 9, "name": "Susan", "address": "One way 98"},

  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},

  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},

  { "_id": 12, "name": "William", "address": "Central st 954"},

  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},

  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}

]

x = mycol

In [7]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('5e5383c4a19f0e26b25873b2'), 'name': 'John', 'address': 'Highway 37'}

In [8]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

x = mycol.find()

print(x)

<pymongo.cursor.Cursor object at 0x000001DE42BB74C8>

In [9]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):

    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [10]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

myquery = {"address": {"$gt":"S"}}

mydoc = mycol.find(myquery)

for x in mydoc:

    print(x)

{'_id': ObjectId('5e5383c5a19f0e26b25873b6'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bb'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bf'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [11]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:

    print(x)

{'_id': ObjectId('5e5383c5a19f0e26b25873b9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bf'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [12]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('5e5383c5a19f0e26b25873b4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bc'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5e5383c5a19f0e26b25873be'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b5'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5e5383c4a19f0e26b25873b2'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b6'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5e5383c5a19f0e26b25873ba'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bb'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bf'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bd'), 'name': 'William', 'address': 'Central st 954'}

In [13]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mydoc = mycol.find().sort("name", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5e5383c5a19f0e26b25873bd'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bf'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bb'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5e5383c5a19f0e26b25873ba'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b6'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5e5383c4a19f0e26b25873b2'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b5'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5e5383c5a19f0e26b25873be'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bc'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b4'), 'name': 'Amy', 'address': 'Apple st 652'}

In [14]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

myquery = {"address":"Mountain 21" }

mycol.delete_one(myquery)

#print the customers collection after the deletion:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5e5383c4a19f0e26b25873b2'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b6'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5e5383c5a19f0e26b25873b9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5e5383c5a19f0e26b25873ba'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bb'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bc'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bd'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5e5383c5a19f0e26b25873be'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5e5383c5a19f0e26b25873bf'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [15]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }

x = mycol.delete_many(myquery)

print(x.deleted_count, "documents deleted")

2 documents deleted

In [16]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

x = mycol.delete_many({})

print(x.deleted_count, "documents deleted")

10 documents deleted

In [17]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

mycol.drop()

In [20]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

myquery = {"address": "Valley 345"}
newvalues = {"$set": {"address": "Canyon 123"}}

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)